.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .formulario {
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 1024px) {
  .formulario {
    min-width: 560px;
  }
}