.novoProduto {
  background-color: var(--preto-05);
  display: none;
  font-family: var(--fonte);
}

.novoProduto .formulario {
  max-width: 1136px;
  margin: 0 auto;
}

.novoProduto .formulario__botao {
  width: 100%;
}