.telaProduto__similaresTitulo {
  font-size: var(--tam-22);
  font-weight: bold;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .telaProduto__similaresTitulo {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .telaProduto__similaresTitulo {
    font-size: 2rem;
    max-width: 1136px;
    margin: 0 auto 1rem;
  }
}