.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .cabecalho.container {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    max-width: 1136px;
    margin: 0 auto;
  }

  .cabecalho.container {
    padding: 2rem 0;
  }
}