.cabecalho__btnLogin {
  background: transparent;
  border: 1px solid var(--azul);
  color: var(--azul);

  transition: all 0.2s ease-in-out;
}

.cabecalho__btnLogin:hover {
  background: var(--azul);
  color: var(--branco);
}

@media screen and (min-width: 0) {
  .cabecalho__btnLogin {
    width: 133px;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho__btnLogin {
    width: 166px;
  }
}