.cabecalho__input--icone {
  background-image: url('../../img/lupa-icone.svg');
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 0) {
  .cabecalho__input {
    display: none;
  }

  .cabecalho__input--icone {
    opacity: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho__input {
    display: inline-block;
    background: transparent;
    color: var(--preto-50);
    font-family: var(--fonte);
    font-size: var(--tam-14);
    margin-right: 0.5rem;
    width: -webkit-fill-available;
  }

  .cabecalho__input::placeholder {
    color: var(--preto-50);
    font-family: var(--fonte);
    font-size: var(--tam-14);
  }

  .cabecalho__input--icone {
    background-image: url('../../img/lupa-icone.svg');
    opacity: 50%;
  }
}